/* for all page*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style:none;
	box-sizing: border-box;
	font-weight: bold;
}

body{
	font-family: century;
}
p{
	color: rgb(100,100,100);
	text-align: justify;
}
#home{
	z-index: 4;
}
/*nav */
nav{
	background: #0082e6;
	height: 80px;
	width: 100%;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active,a.nava:hover{
	background: #1b9bff;
	transition: .5s;

}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}

/*nav responsiv part */
@media (max-width: 952px){
	label.logo{
		font-size: 23px;
		padding-left: 40px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 400px){
	label.logo{
		font-size: 20px;
		padding:0 25px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	nav{
		position: fixed;
		z-index: 999;/*new*/
	}
	.checkbtn{
		display: block;
	}
	ul#home{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		z-index: 4;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;

	}
	nav ul li a{
		font-size: 20px;

	}
	a.nava:hover,a.active{
		background:none;
		color: #0082e6; 
	}
	#check:checked ~ ul{
		left: 0;
	}
}
 

/* body contier*/
.continar{
	height: auto;
	width: 90%;
	margin: 0 auto;
	background-color: rgb(235,235,235);
	margin-top: 20px;
	padding-top: 1px;

}
/* body responsive part*/
@media (max-width: 858px){
.continar{
	height: auto;
	width: 90%;
	margin: 0 auto;
	background-color: rgb(235,235,235);
	padding-top: 1px;
   }
}


/* calculation page body */
.continarCAL{
	width: 90%;
	margin: 0 auto;
	background-color: rgb(235,235,235);
	height: auto;
	padding-top: 1px;
}


/* page location*/
.dashpord{
	background-color: white;
	color: rgb(100,100,100);
	padding: 18px;
	padding-left: 87px;
	font-size: 22px;
}
@media (max-width: 858px){
	.dashpord{
	background-color: white;
	color: rgb(100,100,100);
	padding-top: 100px;
	padding-bottom: 30px;
	padding-left: 20px;
	font-size: 13px;	
   } 
   .position{
	width: 60%;
	margin: 0 auto;
	float: left;

}
}
.position{
	width: 70%;
	margin: 0 auto;
	float: left;

}
.position h2{
	margin: 15px;
	display: inline-block;
}
/* web language*/
.language{
	margin: 0 auto;
	width: 12%;
	float: right;
}
@media (max-width: 858px){
	.language{
	margin: 0 auto;
	width: 22%;
	float: right;
}
}
/*body*/
.body{
	width: 95%;
	margin: 20px auto;
	font-size: 15px;
	margin-bottom: 20px;
	padding-bottom: 40px ;
}
.body h3{
	font-size: 22px;
	color: #0082e6;
	border-bottom: 1px solid #0082e6;
	margin-bottom: 10px;
	padding-bottom: 10px ;
}
.body img{
	width:100%;
	height: 250px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.h2po{
	color:#0082e6;
}
.h2po:hover{
	color:  #2c3e50;
}
/*calculator page*/
.select ul{	
	width: 100%;
	height: auto;
	background: #2c3e50;
	top: 80px;
	left: -100%;
	text-align: center;
	transition: all .5s;
}
.select ul li{
	border-bottom: 1px solid gray;
	margin: 20px 0;
	line-height: 30px;
}
.select ul #fli{
	margin-top: 0px;
	padding-top: 15px;
}
.select ul #lli{
	padding-bottom: 15px;
}
.select ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	text-transform: uppercase;
}
/*.select a:hover{
	background:none;
	color: #0082e6; 
}*/
.btn:hover{
	background-color:rgb(235,235,235);
	color: #0082e6;

}

/*maincalculator page*/
.h4main {
	font-size: 20px;
	color: #2c3e50;
}
.pmain{
	font-size: 17px;
	padding: 10px;
}
ol.pamin li{
	color: (100,100,100)
}
.mainimg{
	position:left !important;
	width: 55%;
	height: 200px;
	margin: 10px auto;
}
.pimg{
	text-align: center;
}
@media (max-width: 858px){

 .mainimg{
	position:left !important;
	width: 90%;
	height: 200px;
	margin: 10px auto;
	}
	.pimg{
		text-align: center;
	}	
}
.BOExr{
	float: right;
}
.BOExl{
	float: left;
}
.ttable{
    border-collapse: collapse;
    width: 80%;
	text-align: center;
	margin-left:36%;
	color: rgb(100,100,100);
}
.ttable th{
    border: 1px solid black;
}
.ttable td{
   border: 1px solid black;
}
@media (max-width: 858px){
	 .BOExr{
		float: none;
	}
	.BOExl{
		float:none;
	}
.ttable{
    border-collapse: collapse;
    width: 80%;
	text-align: center;
	margin-left:36%;
	color: rgb(100,100,100);
}
.ttable th{
    border: 1px solid black;
}
.ttable td{
   border: 1px solid black;
}
}
ol.pmain li {
	color: (235,235,235);
}
ol.pmain{
	color: (235,235,235);
}
/*about us page */
/*about part*/
.continarAB{
	height:555px;
	width: 90%;
	margin: 20px auto;
	background-color: rgb(235,235,235);
	margin-top: 20px;
	padding-top: 1px;
}
.about{
	width: 50%;
	float: left;
}
.about h3{
	width: 96%;
    font-size: 22px;
	color: #0082e6;
	border-bottom: 1px solid #0082e6;
	margin-bottom: 10px;
	padding-bottom: 10px 
}
.about p,img{
	width: 96%;
}
.about h4{
	color: rgb(100,100,100);
}
.about img{
	margin: 0 auto !important;
}

/*contact part*/
.contact{
	width: 50%;
	float: right;
}
.contact h3{
	width: 96%;
    font-size: 22px;
	color: #0082e6;
	border-bottom: 1px solid #0082e6;
	margin-bottom: 10px;
	padding-bottom: 10px 
}
.contact h4{
	color: rgb(100,100,100);
}
.contact #pcontact{
	padding-top: 30px;
	font-size: 20px;
}
textarea{
	width: 90%;
	padding: 10px;
	margin-top: 20px;
	border-radius: 4px;
}


/*about us page responsiv part*/
@media (max-width: 858px){

	/*about us part*/
	.continarAB{
	height: 1100px;
	width: 90%;
	margin: 0 auto;
	background-color: rgb(235,235,235);
	margin-top: 20px;
   }
	.about{
	width: 100%;
	}
	.about h3{
		width: 96%;
	    font-size: 22px;
		color: #0082e6;
		border-bottom: 1px solid #0082e6;
		margin-bottom: 10px;
		padding-bottom: 10px ;	
	}
	.about p,img{
		width: 96%;
	}
	.about h4{
		color: rgb(100,100,100);
	}
	.about img{	
		margin: 0 auto !important;
	}

	/*contact part*/
	.contact{
		width: 100%;
	}
	.contact h3{
		width: 96%;
	    font-size: 22px;
		color: #0082e6;
		border-bottom: 1px solid #0082e6;
		margin-bottom: 10px;
		padding-bottom: 10px 
	}
	.contact h4{
		color: rgb(100,100,100);
	}
	.contact #pcontact{
		padding-top: 30px;
		font-size: 20px;
	}
	textarea{
		width: 90%;
		padding: 10px;
		margin-top: 20px;
		border-radius: 4px;
	}
}

.middlee{
	width: 83% !important;
}
.bbtn{
	float: right;
	padding: 10px 30px;
	margin: 10px ;
    display: inline-block;
    border: none;
    background: #0082e6;
    font-weight: 900px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    color: white;
}
.bbtn:hover {
    background-color: #1b9bff;
    box-shadow: 0 0 10px #1b9bff , 0 0 40px #1b9bff, 0 0 10px #1b9bff;
    border: none;
    transition: 0.4s;
}

/*footer*/
footer{
	color: white;
	background: #0082e6;
	height: 55px;
	width: 100%;
}
footer p{
	margin: 0px auto;
	padding-top:19px; 
	text-align: center;6
}
.pfootar{
	color: white;
	margin: 0 auto;
}
 /* new part */
 .all {
       background-color: rgb(0,31,63);
   }

   .new {
       background-color:rgb(0,31,63);
   }

   .sub {
       display: inline-block;
       width: 21vw;
       color: white;
       margin: 0 3px 0 3px;
       padding: 2%;
   }

   .sub h4 {
       font-weight: lighter;
       font-size: 16px;
       letter-spacing: 1.5px;
   }

   .small {
       margin: 0 12%;
   }

   .small label {
       font-weight: lighter;
       font-size: 14px;
       letter-spacing: 1.5px;
   }
   /* binary buttons */

   .bin1 {
       margin: 0 25%;
   }

   .bin2 {
       margin: 0 12%;
   }
   /* /binary buttons */
   /* decimal button */
  .dec{
    display: inline-block;
  }
   .dec1 {
       margin: 0 25%;
   }

   .dec2 {
       margin: 0 12%;
   }
   /* /decimal btns */
   /* hexadecimal last row btns */

   .hex1 {
       margin: 0 12%;
   }

   .hex,
   .bin {
       display: none;
   }

   @media (max-width: 858px) {
       .sub {
           display: inline-block;
           width: 21vw;
           color: white;
           margin: 0 auto;
       }
   }

   @media (max-width: 858px) {
       .sub {
           /* display: block; */
           float: left;
           width: 50%;
           color: white;
           margin: 0;
       }
       .sub label {
           font-size: 14px;
           margin: 0 4%;
       }
   }